test_images_1000.csv
test_labels_1000.csv
test_data
class_result
class_result_BL
Resnet_test_result_enc
Resnet_test_result_enc_BL
Resnet_enc_result_ker3_
Resnet_enc_result_ker3_old_1000
Resnet_enc_result_ker5_
Resnet_enc_result_ker7_
Resnet_enc_result_ker7_old_pow5
Resnet_enc_result_ker3_BL
Resnet_enc_result_ker5_BL
Resnet_enc_result_ker7_BL
Resnet_plain_data
Imagenet
weight_imgnet_ker3_h5
weight_imgnet_ker3_h5_copy
weight_imgnet_ker5_h5
weight_imgnet_ker5_h5_copy